Wybież nowy priorytet<br>
<form action="...">
  <select name="priority" size="4">
    <option>Pilne-Ważne</option>
    <option>Niepilne - Ważne</option>
    <option>Pilne - Nieważne</option>
    <option>Niepilne - Nieważne</option>
  </select>
</form>
<br>

<label>
  Dodaj komentarz<hr>
  <form action="...">
    <textarea name="action" cols="150" rows="20" ></textarea>
  </form>
</label><br>

<button (click)="saveTodo()" class="uk-button uk-button-primary uk-margin-small" type="submit" style="margin:
5px">Zapisz zmiany</button>
<button (click)="cancelTodoChange()" class="uk-button uk-button-danger uk-margin-small" type="submit"
        style="margin: 5px">Anuluj</button>
