<label>
  Nowe działanie<hr>
  <form action="...">
    <textarea name="action" cols="150" rows="20" ></textarea>
  </form>
</label><br>

<bold>Wybież priorytet</bold><br>
<form action="...">
  <select name="priority" size="4">
    <option>Pilne-Ważne</option>
    <option>Niepilne - Ważne</option>
    <option>Pilne - Nieważne</option>
    <option>Niepilne - Nieważne</option>
  </select>
</form>
<br>

<button class="uk-button" type="submit" style="background-color: #32d296; color: white">Dodaj działanie</button>
